<IfModule mod_rewrite.c>
			ErrorDocument 404 http://localhost/prosystem/prosystem/erros/404.php
			  RewriteEngine On

				#força www
				RewriteCond %{HTTP_HOST} !^$
				RewriteCond %{HTTP_HOST} ^([^.]+)\.([a-z]{2,4})$ [NC]
				RewriteCond %{HTTPS}s ^on(s)|
				RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

				#tira .php
				RewriteCond %{REQUEST_FILENAME} !-f
				RewriteCond %{REQUEST_FILENAME}\.php -f
		        RewriteRule ^(.*)$ $1.php?codshow=$1

                #Regras login.php
				RewriteRule ^index												    view/login.php
				RewriteRule ^dashboard                                              view/dashboard.php
				RewriteRule ^errologin                                              view/login.php?erro=true
				RewriteRule ^sessaoexpirada                                         view/login.php?sessao=false
				RewriteRule ^logout                                                 view/login.php?logout=true

				#Regras Cadastros
				RewriteRule ^cadastrar/usuario$										view/cadastrar-usuario.php
				RewriteRule ^cadastrar/empresa$										view/cadastrar-empresa.php
</IfModule>