<IfModule mod_rewrite.c>
			ErrorDocument 404 http://localhost/prosystem/prosystem/erros/404.php
			  RewriteEngine On

				#força www
				RewriteCond %{HTTP_HOST} !^$
				RewriteCond %{HTTP_HOST} ^([^.]+)\.([a-z]{2,4})$ [NC]
				RewriteCond %{HTTPS}s ^on(s)|
				RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

				#tira .php
				RewriteCond %{REQUEST_FILENAME} !-f
				RewriteCond %{REQUEST_FILENAME}\.php -f
		        RewriteRule ^(.*)$ $1.php?codshow=$1

                #Regras login.php
				RewriteRule ^index												    view/login.php
				RewriteRule ^dashboard                                              view/dashboard.php?idMenu=1
				RewriteRule ^errologin                                              view/login.php?erro=true
				RewriteRule ^sessaoexpirada                                         view/login.php?sessao=false
				RewriteRule ^logout                                                 view/login.php?logout=true

				#Regras Menu (Itens não existentes)
				RewriteRule ^clientes                                               view/clientes.php?idMenu=2
				#RewriteRule ^projetos                                               view/projetos.php?idMenu=3
				RewriteRule ^tarefas                                                view/tarefas.php?idMenu=4

				#Regras Cadastros
				RewriteRule ^cadastrar/usuario$										view/cadastrar-usuario.php?idMenu=51
				RewriteRule ^cadastrar/empresa$										view/cadastrar-empresa.php?idMenu=61
				RewriteRule ^cadastrar/projetos$									view/cadastrar-projeto.php?idMenu=31
				RewriteRule ^cadastrar/tarefas$									    view/cadastrar-tarefas.php?idMenu=41
				RewriteRule ^cadastrar/tarefa-projeto/([_0-9a-z-]+)?$				view/cadastrar-tarefas.php?idMenu=41&idProjeto=$1

			    #Regras Listagem
                RewriteRule ^listar/usuario$										view/listar-usuario.php?idMenu=52
                RewriteRule ^listar/empresas$										view/listar-empresa.php?idMenu=62
                RewriteRule ^listar/projetos$										view/listar-projetos.php?idMenu=32
                RewriteRule ^listar/tarefas										    view/listar-tarefas.php?idMenu=42
                RewriteRule ^listar/minhas-tarefas              					view/listar-tarefas.php?idMenu=43&usuario=true

				#Regras Edição
                RewriteRule ^editar/empresa/([_0-9a-z-]+)?$							view/cadastrar-empresa.php?idMenu=62&idEmpresa=$1
                RewriteRule ^editar/usuario/([_0-9a-z-]+)?$							view/cadastrar-usuario.php?idMenu=53&idUser=$1
                RewriteRule ^editar/projeto/([_0-9a-z-]+)?$						    view/cadastrar-projeto.php?idMenu=32&idProjeto=$1
                RewriteRule ^editar/tarefa/([_0-9a-z-]+)?$						    view/cadastrar-tarefas.php?idMenu=42&idTarefa=$1

				#Regras páginas de visualização
				RewriteRule ^empresa/([_0-9a-z-]+)?$							    view/ver-empresa.php?idMenu=63&idEmpresa=$1
				RewriteRule ^projeto/([_0-9a-z-]+)?$						    view/ver-projeto.php?idMenu=32&idProjeto=$1

</IfModule>