
/*** Formulários ****/

/*** DashBoard ****/
.mt-actions {
    max-height:428px;
    overflow:overlay;
    overflow-y: auto;
}

.solicitado-por {
    margin-left:20px;
    color: #cccccc;
}

.solicitado-por label{
    color: #afafaf;
    font-weight:bold;
}

.status-tarefa {
    margin-left:10px;
}