/*** APROVAÇÕES ****/
.texto-aprovacao{
    border-left: 1px #cccccc solid;
    min-height: 200px;
    padding-left: 8px;
    padding-top: 5px;
}

.botoes-aprovacao{
    margin-top: 5px;
}
/*** Formulários ****/
.botoes-superiores {
    margin-right: 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    #margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.status-aprovacao {
    padding-top:6px;
}
/*** TAREFAS ****/
.acao-tarefa {
    margin-bottom: 2px;
}

.descricao-anexo {
    font-weight:bold;
}

.textareaanexo {
    height: 108px !important;
}

.botoes-anexo {
    margin-left:3px;
}

/*** DASHBOARD ****/
.mt-actions {
    max-height:800px;
    overflow:overlay;
    overflow-y: auto;
    overflow-x: hidden;
}

.solicitado-por {
    margin-left:20px;
    color: #cccccc;
}

.solicitado-por label{
    color: #afafaf;
    font-weight:bold;
}

.status-tarefa {
    margin-left:10px;
}

.aprovarPeca {
    min-width:123px;
}

.NaprovarPeca {
    min-width:123px;
}

/*** GERAL ***/
@media print
{
    body {-webkit-print-color-adjust: exact;}

    .dataTables_length
    {
        display: none !important;
    }

    .btn-group {
        display: none !important;
    }

    .dataTables_filter {
        display: none !important;
    }

    .dataTables_paginate {
        display: none !important;
    }
    
    .dataTables_info {
        display: none !important;
    }
    
    .printhidden {
        display: none;
    }
}

/*** PERFIL ***/

.pic-bordered {
    width:100%;
}

/*** MODAL ***/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}